<div class="container">
  <div class="path-input">
    <input
      type="text"
      placeholder="Search for a node..."
      [ngModel]="(searchInputToDebounce$ | async)"
      (ngModelChange)="onSearchPathChanged($event)">
    <button class="empty"
            type="button"
            *ngIf="(searchTermFromPath$ | async)"
            (click)="onSearchPathChanged('')">&times;</button>
  </div>
  <app-suggestions
    class="suggestions"
    [suggestionResults]="(searchPathResults$ | async) ?? []"
    [currentPath]="(currentPath$ | async) ?? ''"
    [pathIsValid]="!!(data$ | async)"
    [searchTerm]="(searchTermFromPath$ | async) ?? ''"
    (emitSuggestionSelected)="onSuggestionSelected($event)">
  </app-suggestions>

  <p class="full-path">Rocket/{{(currentPath$ | async)}}</p>

  <p class="result">Key: {{(data$ | async)?.key ?? 'No Key'}}</p>

  <div class="expansionButtons">
    <button type="button" class="close-button" (click)="accordion.closeAll()">Close All</button>
    <button type="button" class="open-button" (click)="accordion.openAll()">Open All</button>
  </div>
  <mat-accordion
    class="nodes"
    #accordion="matAccordion"
    [multi]="true">
    <app-rocket-data-node
      [dataNode]="(data$ | async) ?? undefined"
      [expandChildren]="true">
    </app-rocket-data-node>
  </mat-accordion>
</div>
