@font-face {
  font-family: LuckiestGuy;
  src: url(assets/Fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: mBlack;
    src: url(assets/Fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: mBold;
    src: url(assets/Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: mBoldItalic;
    src: url(assets/Fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: mExtraBold;
    src: url(assets/Fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: mExtraBoldItalic;
    src: url(assets/Fonts/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: mExtraLight;
    src: url(assets/Fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: mExtraLightItalic;
    src: url(assets/Fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: mItalic;
    src: url(assets/Fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: mLight;
    src: url(assets/Fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: mLightItalic;
    src: url(assets/Fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: mMedium;
    src: url(assets/Fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: mMediumItalic;
    src: url(assets/Fonts/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: mRegular;
    src: url(assets/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mSemiBold;
    src: url(assets/Fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: mSemiBoldItalic;
    src: url(assets/Fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: mThin;
    src: url(assets/Fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: mThinItalic;
    src: url(assets/Fonts/Montserrat-ThinItalic.ttf);
}
