@import 'fonts';
@import 'variables';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: {
    family: mMedium;
  };
  color: $black;
}

.highlight {
  background-color: yellow;
}


// Override Mat-Expansion-Panel Styles
.mat-expansion-panel-header {
  padding: 0 !important;
}

.mat-content {
  &.mat-content-hide-toggle {
    margin: 0 !important;
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
