@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  gap: 0.25rem;

  .header-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    padding-right: 1rem;

    .key {
      font: {
        family: mMedium;
        size: 14px;
      }
    }

    .value {
      font: {
        family: mRegular;
        size: 12px;
      }
    }

    &.hasChildren {
      padding-right: 0;

      .key,
      .value {
        font: {
          family: mMedium;
          size: 16px;
        }
      }
    }
  }

  .children {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
