@use 'variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  gap: 0.25rem;
  position: relative;

  .navigate {
    display: grid;
    width: max-content;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: variables.$elGrey;
    box-shadow: variables.$shadow;
  }

  .header-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    padding-right: 1rem;

    .key {
      font: {
        family: mMedium;
        size: 14px;
      }
      cursor: pointer;

      &.valueOverTen {
        color: variables.$green;
      }

      &:hover {
        text-decoration: underline;
        color: variables.$blue;
      }
    }

    .value {
      font: {
        family: mRegular;
        size: 12px;
      }
    }

    &.hasChildren {
      padding-right: 0;

      .key {
        font: {
          family: mBoldItalic;
        }
      }

      .value {
        font: {
          family: mMedium;
          size: 16px;
        }
      }
    }
  }

  .children {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
